<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>custommade</name>
	<displayName><![CDATA[Customize Wall Mural]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Adds an advertisement block to selected sections of your e-commerce website.]]></description>
	<author><![CDATA[202-ecommerce]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall my module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>